/* ==========body背景色调试========== */
body {
  background-color: rgb(180, 100, 100);
  margin: 0 !important;
}
/* 标签a去除下划线 */
a {
  text-decoration: none;
}

/* ===========动画========== */
.t-header, .t-fsnav, .t-nav, .t-fsnav a, .t-center-logo {
  /* 平滑动画效果 */
  transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
}

/* ====================搜索框==================== */
.t-sc-box{
  position: absolute;
  right: 0;
  top: -10px;
  width: 50px;
  z-index: 10;
}

/* 搜索框 输入框伸缩 */
.t-sc-box:not(.t-open) input.t-form-ctrl {
  /* 输入框不显示 */
	width: 0 !important;
	/* padding: 0 !important; */
	background: transparent;
  visibility: hidden;
  z-index: -1;
  padding: 10% 30% 10% 20%;
  height: 70%;
  top: 5%;
}

.t-sc-box input.t-form-ctrl {
  /* 输入框显示 */
	width: 200px !important;
	transition: all 0.5s cubic-bezier(0.4, 0, 0, 1);
  position: absolute;
  right: 50px;
  visibility: visible;
  z-index: -1;
  padding: 10% 20% 10% 20%;
  height: 70%;
  top: 5%;
  border-radius: 5px 0 0 5px;
}

/* 搜索框输入框 */
.t-sc-btn input{  
	/* background:none;   */
	outline:none;  
	border:0px;
}
/* 搜索框图片 */
.t-sc-btn img{
  width: 100%;
}

/* ====================全屏导航按钮==================== */
.t-fsnav-box{
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  z-index: 10;
  height: 80px;
}


.t-fsnav-box .t-fsnav-btn {
  width: 100%;
  height: 100%;
  background: url("../images/search_btn_bg_withsd.png") right top;
  background-size: cover;
}


.t-fsnav-box .t-fsnav-btn a{
  /* 限定可点击区域 */
  width: 83.3%;
  height: 80%;
  position: absolute;
  right: 0;
}

.t-fsnav-box .t-fsnav-btn a img{
  position: absolute;
  display: block;
  right: 25%;
  top: 30%;
}

/* ====================header整体==================== */
.t-header {
  width: 100%;
  min-width: 300px;
  top: 0;
  /* Height Header */
  /* Height Header */
  height: 110px;
  z-index: 10;
  position: absolute;
  right: 0;
}

.t-header::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -0.05rem;
  right: 0;
  height: 110px;
  background: url("../images/header-bg.png") center repeat-x;
  background-size: auto 99%;
}

/* header底图 */
.t-header .t-bg-header{
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
}

/* ====================Logo条==================== */
.t-header .t-logo-bg{
  /* background-image: url("../images/title_logo_bar.png"); */
  object-fit: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.t-header .t-mgTop{
  margin: 0 30px 0 !important;
  height: 100% !important;
}

.t-header .logo {
    width: 95%;
    position: relative;
    left: 0;
    overflow: visible;
    font-size: 0;
    top: 15px;
    z-index: 10;
}
.t-header .logo a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.t-header .logo .t-logo1 {
    width: 500px;
    float: left;
    position: absolute;
}

/* ====================一级导航栏==================== */
.t-nav {
  height: 0px;
  line-height: 49px;
  position: absolute;
  /* left: 682px; */
  right: 60px;
  bottom: 0;
  top: 60px;
}
.t-nav > ul {
  margin: 0 auto;
  font-size: 0;
  text-align: center;
  white-space: nowrap;
  padding: 0 !important;
}
.t-nav > ul > li ,.t-nav > ul > div {
  position: relative;
  text-align: center;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  transform: perspective(5000px);
  -moz-transform: perspective(5000px);
  -o-transform: perspective(5000px);
  -webkit-transform: perspective(5000px);
  padding: 0;
}
.t-nav > ul > li > a {
  font-size: 18px;
  display: block;
  position: relative;
  color: #fff;
  padding: 0 13px;
}

.t-nav > ul > li > a:hover:after {
  position: absolute;
  width: 100%;
  height: 3px;
  background: #fff;
  content: "";
  left: 0;
  bottom: 0;
}

.t-nav > ul > li.on .t-navSub {
  display: block;
}

/* ====================二级导航默认样式==================== */
.t-navSub {
  width: 100%;
  background: #9a0000;
  white-space: normal;
}
.t-navSub {
  position: absolute;
  right: 0;
  top: 48px;
  display: none;
}

.t-navSub ul{
  padding: 0;
}

.t-navSub a {
  color: #fff;
  padding: 10px;
  display: block;
  line-height: 24px;
  border-top: 1px solid #9a0000;
  font-size: 16px;
}
.t-navSub a:hover {
  background: rgba(0, 0, 0, 0.1);
}

/* ==========二级导航显示动画效果 帧动画========== */
.flipInY{
	-webkit-animation-name: flipInY ;
	animation-name: flipInY ;
	animation-duration: 0.6s; 
	-webkit-animation-duration: 0.6s;
	animation-timing-function: ease-in-out; 
	-webkit-animation-timing-function: ease-in-out;   
	visibility: visible !important; 
	display: block;
}
@keyframes flipInY  {
  from {
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  to {
    -webkit-transform: perspective(400px);
		transform: perspective(400px);
  }
}


/* ====================全屏导航 导航栏详细设置==================== */
.t-fsnav{
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  /* 背景图变暗 */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/fsnavBg.jpg") no-repeat;
  background-size: cover;
}
.t-fsnav .t-fsnav-main{
  top: 100px;
  position: absolute;
  margin: 0 auto;
  right: 5%;
  width: 90%;
}

.t-fsnav .t-fsnav-main ul{
	list-style-type:none;
	margin:0 10px 0 10px;
	padding:0;
}

.t-fsnav .t-fsnav-main li{
  display: inline;
  float: left;
  /* 宽暂定 */
  width: 12.5%;
  text-align: center;
}

.t-fsnav h2{
  margin: 0 0 10px 0;
  height: 2em;
}

.t-fsnav h2 a{
  /* 一级链接默认色 */
  color: #eeeeee;
}
.t-fsnav a:hover{
  /* 鼠标划过 */
  color: gold;
}
.t-fsnav h3{
  height: 1.5em;
}
.t-fsnav h3 a{
  color: #aaaaaa;
}


/* ====================全屏导航 元素排列==================== */
body.fsnavShow{
  /* 隐藏视区外内容 */
  overflow: hidden;
}

body.fsnavShow .t-nav{
  /* 隐藏导航栏 */
  visibility: hidden;
  opacity: 0;
}

body.fsnavShow img.t-bg-header{
  visibility: hidden;
  opacity: 0;
}

body.fsnavShow .t-fsnav{
  /* 隐藏导航栏 */
  visibility: visible;
  opacity: 1;
}

body.fsnavShow .t-top > .logo > img{
  position: fixed;
  left: 30px;
}

body.fsnavShow .t-btn-top{
  visibility: hidden !important;
  opacity: 0 !important;
}

body.fsnavShow .t-sc-box{
  position: fixed !important;
  right: 5% !important;
  top: 5px !important;
  width: 50px;
  z-index: 10;
}

/* ==========页面上移，导致导航栏在画面外 时的样式========== */


/* 去除动画 */
header.t-scrtop .t-nav, .t-fsnav a{
  transition: none;
  -ms-transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
}
/* 隐藏红底条 */
header.t-scrtop > img{
  visibility: hidden;
  opacity: 0;
}
/* 导航栏 */
header.t-scrtop nav.t-nav{
  position: fixed;
  top: 40px;
  /* right: 0; */
  line-height: 49px;
  right: 0;
  left: 0;
}
/* 搜索按钮 */
header.t-scrtop .t-top .t-sc-box{
  position: fixed;
  right: 5%;
  top: 85%;
}
/* 占位符 */
header.t-scrtop .t-center-logo-block{
  visibility: visible;
  visibility: 1;
  width: 15%;
  height: 0;
  /* position: relative; */
}
/* 全屏按钮 */
header.t-scrtop .t-fsnav-box{
  position: fixed;
}
/* 占位符原样式(hidden) */
.t-center-logo-block{
  visibility: hidden;
  opacity: 0;
  position: absolute;
}
/* 中logo红书底 */
header.t-scrtop .t-center-logo .t-center-logo-bg{
  height: 140%;
  background: url("../images/center-logo-qztc.png") no-repeat;
  background-position-x: center;
  background-position-y: 0;
  width: 100%;
  position: relative;
  left: 0;
  right: 0;
  display: inline-block;
  left: 0;
  background-size: contain;
  text-align: center;
}

/* 中logo内容 */
header.t-scrtop .t-center-logo .t-center-logo-bg a{
  display: block;
  padding: 10%;
}

/* 新红底图 */
header.t-scrtop .t-center-logo{
  position: fixed;
  left: 0;
  right: 0;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: url("../images/title_top_bar.png") repeat-x;
  background-size: cover;
}

header.t-scrtop .t-btn-top{
  visibility: visible;
  opacity: 1;
  position: fixed;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.t-top .t-sc-box .t-btn-top{
  position: absolute;
  bottom: 53px;
}

.t-btn-top{
  visibility: hidden;
  opacity: 0;
  width: 50px;
  height: 50px;
  /* background-color: #eeeeee; */
  background:linear-gradient(45deg, rgba(152,51,33,1), rgba(103,35,22,1));
  border-radius: 5px;
}
.t-btn-top span{
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
}

/* ====================轮播图==================== */
.t-rotpic-ct{
  text-align: center;
  height: 100%;
  position: absolute;
  top: 60px;
  width: 100%;
  /* padding-top: 60px; */
}

.t-rotpic-ct .t-rotpic-container{
  height: 100%;
  width: 100%;
}
.t-rotpic-ct .t-rotpic-container .t-rotpic-item{
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease;
  top: 0;
}
.t-rotpic-ct .t-rotpic-container .t-rotpic-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.t-rotpic-ct .t-rotpic-container .t-rotpic-item.t-rotpic-active{
  opacity: 1;
}
.t-rotpic-btn-container{
  /* width: 100%; */
  height: 15px;
  position: absolute;
  bottom: 5%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%/50px;
  padding: 5px;
  display: inline-block;
}
.t-rotpic-btn-container .t-rotpic-btn{
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, 0.8);
  opacity: 1;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.t-rotpic-btn-container .t-rotpic-btn.t-rotpic-active{
  background: rgba(25, 55, 50, 0.8);
}

.othercontext{
  height: 15000px;
  width: 100%;
}